<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
  

    <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="card">
        <figure>
          <img src="img/genero.jpg" >
        </figure>
        <div class="contenido">
          <h1>Genero</h1>
          <p>hola como estas </p>
 
        </div>

      </div>

    </div>
        
    
</body>
</html>