<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <title>Listar</title>
</head>
<body>

    <div class="container-fluid">
           <center> <h1>Listado de Albums</h1></center>
            <table class="centered">
                <thead>
                    <th>Id</th>
                    <th>Nombre Album</th>
                    <th>Año Publicacion</th>
                    <th>Estado</th>
                    <th colspan="2">Acciones</th>
                </thead>
                <tbody th:if="${albums.size()>0}" th:each="a:${albums}">
                    <td th:text="${a.id}"></td>
                    <td th:text="${a.nombre_album}"></td>
                    <td th:text="${a.anio_publicacion}"></td>
                    <td th:if="${a.estado_album==true}"> 
                        <span class="badge bg-success active">Activo</span> 
                    </td>
                    <td th:if="${a.estado_album==false}"> 
                        <span class="badge bg-danger active">Inactivo</span> 
                    </td> 
                    <td th:if="${a.estado_album==true}"> 
                        <a rol="button" class="btn btn-danger btn-sm"> Inactivar </a> 
                    </td> 
                    <td th:if="${a.estado_album==false}"> 
                        <a role="button" class="btn btn-success btn-sm"> Activar </a> 
                    </td>
                    <td> 
                        <a role="button" class="btn btn-warning btn-sm" th:href="@{/album/ver/}+${a.id}"> 
                            <i class="material-icons">editar</i> 

                        </a> 
                        <a role="button" class="btn btn-danger btn-sm" th:href="@{/album/delete/} + ${a.id}" onclick="return confirm('Estás seguro que quieres eliminar este album?');"> 
                            <i class="material-icons">cancelar</i> 
                        </a> 

                </tbody>

            </table>

    </div>
    
</body>
</html>